* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Elice Digital Baeum",sans-serif;
  max-width: 900px;
  margin: 0 auto;
}


ul {
  list-style: none;
}

ul li a,
a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  display: none;
}



/* 메뉴 */
nav {
  width: 100%;
  height: 65px;
  line-height: 65px;
  /* border-bottom: 1px solid #E9E9E9; */
  border: 1px solid #E9E9E9;
  background-color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  font-size: 1.1rem;
  font-weight: bold;
}

nav ul li a:hover {
  color: #8E8E8E;
  transform: scale(2.0);
}

/* 프로필 */
#profile {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-image: url(./img/background.jpg);
  background-size: cover;
}

#me {
  width: 150px;
  height: 180px;
  border-radius: 30%;
  border: 8px solid white;
}

#name {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 10px;
}

/* 메인 */
.contentsBox {
  width: 100%;
  background-color: #E9E9E9;
  padding: 30px 0;
}

.contentsBox > div {
  background-color: white;
  width: 80%;
  height: 250px;
  box-shadow: 10px 5px 20px  #8E8E8E;
  /* margin: 0 auto 30px auto; */
  margin: 0 auto 75px auto;
  padding: 65px 0 ;
  /* position: relative; */
}

.contentsBox > div > p {
  /* 여러줄 글자 수직 정렬 */
  /* position: absolute;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* 수평정렬 */
  text-align: center;
  padding-top: 20px;
}

.contents {
  font-size: 20px;
  line-height: 2.5rem;
}

.contents > b {
  font-size: 26px;
}

.contents > img {
  width: 25px;
  margin-right: 10px;
  padding-top: 5px;
}

#up {
  position: fixed;
  bottom: 2%;
  right: 2%;
  font-size: 40px;
  color: #8E8E8E;
  display: none;
}

/* 푸터 */
footer {
  padding: 25px;
}

footer .sns li {
  padding: 0 20px;
  float: right;
}

footer .sns li:not(:first-child) {
  border-right: 1px solid #E9E9E9;
}

footer .sns li a {
  font-size: 30px;
}

#copyright {
  clear: both;
  margin-top: 70px;
  font-size: 12px;
  text-align: center;
  color: #8E8E8E;
}

body > #welcome {
  background-image: url('img/background.jpg');
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1rem;
  top: 0;
  left: 0;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-shadow: 10px 5px 20px #8E8E8E;
}
