* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Elice Digital Baeum",sans-serif;
  max-width: 900px;
  margin: 0 auto;
}


ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: black;
}

header {
  width: 100%;
  height: 400px;
  position: sticky;
  top: 0;
}

/* 프로필 */
#profile {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-image: url(./img/background.jpg);
  background-size: cover;
}

#me {
  width: 150px;
  height: 180px;
  border-radius: 30%;
  border: 8px solid white;
}

#name {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 10px;
}


/* 메뉴 */
nav {
  width: 100%;
  height: 65px;
  line-height: 65px;
  /* border-bottom: 1px solid #E9E9E9; */
  border: 1px solid #E9E9E9;
  background-color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  font-size: 1.1rem;
  font-weight: bold;
}

nav ul li a:hover {
  color: #8E8E8E;
  transform: scale(2.0);
}


/* 메인 */
.contentsBox {
  width: 100%;
  background-color: #E9E9E9;
  padding-bottom: 30px;
}

.contentsBox > div {
  background-color: white;
  width: 80%;
  height: 200px;
  /* box-shadow: 10px 5px 20px  #8E8E8E; */
  margin: -410px auto 75px auto;
  padding: 410px 30px 40px 30px;
  text-align: center;
}

main .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

#information > .title {
  margin-top: 15px;
}

.contents {
  font-size: 20px;
  line-height: 2.5rem;
}

.contents > img {
  width: 25px;
  margin-right: 10px;
  padding-top: 5px;
}

/* 푸터 */
footer {
  padding: 25px;
}

footer .sns li {
  padding: 0 20px;
  float: right;
}

footer .sns li:not(:first-child) {
  border-right: 1px solid #E9E9E9;
}

footer .sns li a {
  font-size: 30px;
}

#copyright {
  clear: both;
  margin-top: 70px;
  font-size: 12px;
  text-align: center;
  color: #8E8E8E;
}
